nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 2.5rem;
  left: 0;
  right: 0;
  height: 70px;
  width: 50%;
  padding: 2px 30px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(2, 43, 41, 0.5);
  border: 0.1rem solid #c7ffca;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
